@import url(../css/fonts.css);
@import url(../css/reset.css);
@import url(../css/skip.css);
@import url(../css/nav-bar.css);
@import url(../css/main.css);
#wrap {
  width: 100%;
}

@keyframes slide {
  0.00% {
    transform: translateX(0px);
  }
  8.33% {
    transform: translateX(0px);
  }
  16.67% {
    transform: translateX(0px);
  }
  25.00% {
    transform: translateX(0px);
  }
  33.33% {
    transform: translateX(-1903px);
  }
  41.67% {
    transform: translateX(-1903px);
  }
  50.00% {
    transform: translateX(-1903px);
  }
  58.33% {
    transform: translateX(-1903px);
  }
  66.67% {
    transform: translateX(-3806px);
  }
  75.00% {
    transform: translateX(-3806px);
  }
  83.33% {
    transform: translateX(-3806px);
  }
  91.67% {
    transform: translateX(-3806px);
  }
  100.00% {
    transform: translateX(-5709px);
  }
}